@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <p>The two next closest bus stops timetables are:</p>
    <p>@Model.BusStop1[0]</p>
    <ul>
        <li>@Model.BusStop1[1]</li>
        <li>@Model.BusStop1[2]</li>
        <li>@Model.BusStop1[3]</li>
        <li>@Model.BusStop1[4]</li>
        <li>@Model.BusStop1[5]</li>
    </ul>
    <p>@Model.BusStop2[0]</p>
    <ul>
        <li>@Model.BusStop2[1]</li>
        <li>@Model.BusStop2[2]</li>
        <li>@Model.BusStop2[3]</li>
        <li>@Model.BusStop2[4]</li>
        <li>@Model.BusStop2[5]</li>
    </ul>
</div>
