@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <p>The two next closest bus stops timetables are:</p>
    <p>@Model.BusStop1</p>
    <ul>
        <li>@Model.BusStop1NB1</li>
        <li>@Model.BusStop1NB2</li>
        <li>@Model.BusStop1NB3</li>
        <li>@Model.BusStop1NB4</li>
        <li>@Model.BusStop1NB5</li>
    </ul>
    <p>@Model.BusStop2</p>
    <ul>
        <li>@Model.BusStop2NB1</li>
        <li>@Model.BusStop2NB2</li>
        <li>@Model.BusStop2NB3</li>
        <li>@Model.BusStop2NB4</li>
        <li>@Model.BusStop2NB5</li>
    </ul>
</div>
